includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    level: 7
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.return
        - identifier: class.notFound
        - identifier: generics.notSubtype
        - identifier: return.type